Source: lxmusic
Section: x11
Priority: optional
Maintainer: PCMan <pcman.tw@gmail.com>
Build-Depends: debhelper (>= 5), libgtk2.0-dev (>=2.6), libxmmsclient-dev (>=>=0.2DrGonzo), libxmmsclient-glib-dev (>=0.2DrGonzo)
Standards-Version: 3.7.2

Package: lxmusic
Architecture: any
Depends: xmms2-core ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight XMMS2 GUI client
 This is the default music player of LXDE project.
 See http://lxde.org/ for detail.